[Desktop Entry]
Name=KXStudio KDE3

X-KDE-PluginInfo-Name=KXStudio
X-KDE-PluginInfo-Author=falkTX
X-KDE-PluginInfo-Email=falktx@gmail.com
X-KDE-PluginInfo-License=GPLv2
