[Desktop Entry]
Type=Service
Exec=nepomukserver
X-KDE-StartupNotify=false
X-KDE-autostart-condition=nepomukserverrc:Basic Settings:Start Nepomuk:true
OnlyShowIn=KDE;
X-KDE-autostart-phase=1
Name=Nepomuk Server
Comment=The Nepomuk Server providing Storage services and strigi controlling
Hidden=true
