[Desktop Entry]
Name=KXStudio Black

X-KDE-PluginInfo-Name=KXStudio
X-KDE-PluginInfo-Author=psidrum
X-KDE-PluginInfo-Email=falktx@gmail.com
X-KDE-PluginInfo-License=LGPLv3
