[Desktop Entry]
Type=Application
Categories=Qt;KDE;Utility;
Exec=akonaditray
Icon=akonadi
Name=Akonaditray
GenericName=Akonadi Tray Utility
Hidden=true
