[Desktop Entry]
Name=KXStudio Heartbeat

X-KDE-PluginInfo-Name=KXStudio
X-KDE-PluginInfo-Author=falkTX, Tomasz Dudzik
X-KDE-PluginInfo-Email=falktx@gmail.com, madsheytan@gmail.com
X-KDE-PluginInfo-License=LGPLv3

