[Desktop Entry]
Categories=Qt;KDE;System;
Exec=krandrtray
Icon=preferences-desktop-display-randr
Name=KRandR
OnlyShowIn=KDE;
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
