<?xml version="1.0" encoding="UTF-8"?>
<RenoisePrefs doc_version="0">
<!--Plugins-->
  <ScanForNewPluginsOnStartup>true</ScanForNewPluginsOnStartup>
  <RescanPreviouslyFailedPlugs>true</RescanPreviouslyFailedPlugs>
<!--VST-->
  <UseVstPlugs>true</UseVstPlugs>
<!--LADSPA-->
  <UseLadspaPlugs>true</UseLadspaPlugs>
<!--DSSI-->
  <UseDssiPlugs>true</UseDssiPlugs>
<!--Audio IO-->
  <AudioIO>
<!--Devices-->
    <ActiveDeviceType>1</ActiveDeviceType>
  </AudioIO>
</RenoisePrefs>
