UnityPanelWidget,
.unity-panel {
    background-color:@view_background;
    color:@view_text;
    -solidity-gradient-top-color:@view_background;
    -solidity-gradient-bottom-color:@view_background;
    -solidity-reflection-top-color:@view_background;
    -solidity-reflection-bottom-color:@view_background;
    -solidity-highlight-color:@view_background;
    -solidity-shadow-color:@view_background;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    background-color:@view_hover_background;
}
