<?xml version="1.0" encoding="UTF-8"?>
<RenoisePrefs doc_version="0">
<!--Plugins-->
  <ScanForNewPluginsOnStartup>true</ScanForNewPluginsOnStartup>
  <RescanPreviouslyFailedPlugs>true</RescanPreviouslyFailedPlugs>
<!--VST-->
  <UseVstPlugs>true</UseVstPlugs>
<!--LADSPA-->
  <UseLadspaPlugs>true</UseLadspaPlugs>
<!--DSSI-->
  <UseDssiPlugs>true</UseDssiPlugs>
<!--Audio IO-->
  <AudioIO>
<!--Devices-->
    <ActiveDeviceType>1</ActiveDeviceType>
  </AudioIO>
<!--Skin Colors-->
  <SkinColors>
    <Main_Back>3,3,4</Main_Back>
    <Main_Font>217,217,217</Main_Font>
    <Alternate_Main_Back>51,53,57</Alternate_Main_Back>
    <Alternate_Main_Font>216,214,196</Alternate_Main_Font>
    <Body_Back>69,71,75</Body_Back>
    <Body_Font>163,163,163</Body_Font>
    <Strong_Body_Font>255,255,255</Strong_Body_Font>
    <Button_Back>43,45,48</Button_Back>
    <Button_Font>255,255,255</Button_Font>
    <Button_Highlight_Font>240,220,19</Button_Highlight_Font>
    <Selected_Button_Back>255,255,255</Selected_Button_Back>
    <Selected_Button_Font>0,0,0</Selected_Button_Font>
    <Panel_Back>92,93,97</Panel_Back>
    <Panel_Font>218,218,218</Panel_Font>
    <Selection_Back>240,220,19</Selection_Back>
    <Selection_Font>0,0,0</Selection_Font>
    <StandBy_Selection_Back>66,67,69</StandBy_Selection_Back>
    <StandBy_Selection_Font>181,181,181</StandBy_Selection_Font>
    <Midi_Mapping_Back>169,152,13</Midi_Mapping_Back>
    <Midi_Mapping_Font>0,0,0</Midi_Mapping_Font>
    <ToolTip_Back>246,245,242</ToolTip_Back>
    <ToolTip_Font>29,29,29</ToolTip_Font>
    <ValueBox_Back>35,37,39</ValueBox_Back>
    <ValueBox_Font>240,220,19</ValueBox_Font>
    <ValueBox_Font_Icons>217,217,217</ValueBox_Font_Icons>
    <SliderBar_Back>217,217,217</SliderBar_Back>
    <SliderBar_Font>54,54,54</SliderBar_Font>
    <Mute_State>240,220,19</Mute_State>
    <Fader>217,217,217</Fader>
    <Folder>134,134,134</Folder>
    <Pattern_Default_Back>3,4,4</Pattern_Default_Back>
    <Pattern_Default_Font>143,143,143</Pattern_Default_Font>
    <Pattern_Default_Font_Volume>177,246,184</Pattern_Default_Font_Volume>
    <Pattern_Default_Font_Panning>226,224,129</Pattern_Default_Font_Panning>
    <Pattern_Default_Font_Pitch>246,173,118</Pattern_Default_Font_Pitch>
    <Pattern_Default_Font_Delay>124,151,198</Pattern_Default_Font_Delay>
    <Pattern_Default_Font_Global>237,147,217</Pattern_Default_Font_Global>
    <Pattern_Default_Font_Other>173,97,174</Pattern_Default_Font_Other>
    <Pattern_Default_Font_DspFx>129,138,143</Pattern_Default_Font_DspFx>
    <Pattern_Default_Font_Unused>74,75,76</Pattern_Default_Font_Unused>
    <Pattern_Highlighted_Back>16,17,18</Pattern_Highlighted_Back>
    <Pattern_Highlighted_Font>255,255,255</Pattern_Highlighted_Font>
    <Pattern_Highlighted_Font_Volume>125,218,134</Pattern_Highlighted_Font_Volume>
    <Pattern_Highlighted_Font_Panning>200,197,84</Pattern_Highlighted_Font_Panning>
    <Pattern_Highlighted_Font_Pitch>218,136,75</Pattern_Highlighted_Font_Pitch>
    <Pattern_Highlighted_Font_Delay>97,135,213</Pattern_Highlighted_Font_Delay>
    <Pattern_Highlighted_Font_Global>210,90,183</Pattern_Highlighted_Font_Global>
    <Pattern_Highlighted_Font_Other>255,235,235</Pattern_Highlighted_Font_Other>
    <Pattern_Highlighted_Font_DspFx>255,235,235</Pattern_Highlighted_Font_DspFx>
    <Pattern_Highlighted_Font_Unused>73,75,76</Pattern_Highlighted_Font_Unused>
    <Pattern_PlayPosition_Back>110,188,1</Pattern_PlayPosition_Back>
    <Pattern_PlayPosition_Font>246,246,246</Pattern_PlayPosition_Font>
    <Pattern_CenterBar_Back>54,55,58</Pattern_CenterBar_Back>
    <Pattern_CenterBar_Font>246,246,246</Pattern_CenterBar_Font>
    <Pattern_CenterBar_Back_StandBy>13,14,15</Pattern_CenterBar_Back_StandBy>
    <Pattern_CenterBar_Font_StandBy>137,137,137</Pattern_CenterBar_Font_StandBy>
    <Pattern_Selection>32,65,80</Pattern_Selection>
    <Pattern_StandBy_Selection>66,67,69</Pattern_StandBy_Selection>
    <Automation_Grid>110,110,110</Automation_Grid>
    <Automation_Line_Edge>116,154,166</Automation_Line_Edge>
    <Automation_Line_Fill>49,97,113</Automation_Line_Fill>
    <Automation_Point>246,246,246</Automation_Point>
    <Automation_Marker_Play>128,246,82</Automation_Marker_Play>
    <Automation_Marker_Single>242,242,242</Automation_Marker_Single>
    <Automation_Marker_Pair>226,246,66</Automation_Marker_Pair>
    <Automation_Marker_Diamond>120,192,237</Automation_Marker_Diamond>
    <VuMeter_Meter>224,231,246</VuMeter_Meter>
    <VuMeter_Meter_Low>7,246,1</VuMeter_Meter_Low>
    <VuMeter_Meter_Middle>218,246,1</VuMeter_Meter_Middle>
    <VuMeter_Meter_High>246,1,7</VuMeter_Meter_High>
    <VuMeter_Peak>218,45,50</VuMeter_Peak>
    <VuMeter_Back_Normal>31,31,35</VuMeter_Back_Normal>
    <VuMeter_Back_Clipped>246,1,7</VuMeter_Back_Clipped>
    <Default_Color_01>178,80,80</Default_Color_01>
    <Default_Color_02>178,128,80</Default_Color_02>
    <Default_Color_03>169,178,80</Default_Color_03>
    <Default_Color_04>96,178,80</Default_Color_04>
    <Default_Color_05>80,178,146</Default_Color_05>
    <Default_Color_06>80,113,178</Default_Color_06>
    <Default_Color_07>136,80,178</Default_Color_07>
    <Default_Color_08>178,80,145</Default_Color_08>
    <Default_Color_09>178,116,116</Default_Color_09>
    <Default_Color_10>229,189,149</Default_Color_10>
    <Default_Color_11>222,229,149</Default_Color_11>
    <Default_Color_12>152,229,137</Default_Color_12>
    <Default_Color_13>149,229,202</Default_Color_13>
    <Default_Color_14>149,162,229</Default_Color_14>
    <Default_Color_15>194,149,229</Default_Color_15>
    <Default_Color_16>229,149,202</Default_Color_16>
    <ButtonBevalAmount>1.25</ButtonBevalAmount>
    <BodyBevalAmount>1.20000005</BodyBevalAmount>
    <TextureSet>Default</TextureSet>
  </SkinColors>
</RenoisePrefs>
