[Desktop Entry]
Name=Printer Applet
Comment=System tray icon for managing print jobs
Exec=printer-applet
Terminal=false
Type=Application
Icon=printer
OnlyShowIn=KDE;
X-KDE-autostart-phase=2
X-DocPath=printer-applet
X-Ubuntu-Gettext-Domain=desktop_kdeutils
Hidden=true
