[Desktop Entry]
Name=KXStudio Stripes

X-KDE-PluginInfo-Name=KXStudio
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-License=GPLv3
